.register{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(3,166,60,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.lottie{
  display: none;
}
.underlined {
    text-decoration: underline;
}
.register input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.95);
    color: rgba(255, 255, 255, 0.9);
}

input:focus{
   outline: none !important;
   box-shadow: none !important;
   border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;
}

label , a{
    color: rgba(255, 255, 255, 0.836) !important;
}

.subhead {
    font-size: 18px;
    font-weight: 500;
    margin-top: -14px;
    margin-bottom: 1em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.836);
}
.subhead2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1em;
    color: rgba(3,166,60, .89);
}

.register h1{
    font-size: 35px;
    color: white;
    font-weight: 600;
}


@media (min-width: 900px) {
    .lottie {
        display: block;
        height: 350px;
    }
}